export HOST_POST=':8080'
export DATASOURCE_DRIVER='mysql'
#export DATASOURCE_DRIVER='pgx'
export DATASOURCE_USERNAME='jukebox'
export DATASOURCE_PASSWORD='jukebox*+'
export DATASOURCE_URL=':username::password@tcp(localhost:3306)/jukebox?charset=utf8&multiStatements=true'
#export DATASOURCE_URL='postgres://:username::password@localhost:5433/jukebox'
export LOG_LEVEL='WARN'
export SENTRY_DSN='http://510f65f931384f22b7ac3c89a482bd4d@192.168.0.101:9000/2'
export SENTRY_ENVIRONMENT='dev'
export SENTRY_RELEASE='sample'

export PROJECT_HOME=$(git rev-parse --show-toplevel)
