export HOST_POST=':8080'
export DATASOURCE_DRIVER='mysql'
#export DATASOURCE_DRIVER='pgx'
export DATASOURCE_USERNAME='jukebox'
export DATASOURCE_PASSWORD='jukebox+'
export DATASOURCE_URL=':username::password@tcp(localhost:3307)/jukebox?charset=utf8&multiStatements=true'
#export DATASOURCE_URL='postgres://:username::password@localhost:5433/jukebox'
export LOG_LEVEL='WARN'
export SENTRY_DSN='http://5a52dd69dfe542169006ce84aad106b5@192.168.0.152:9000/2'
export SENTRY_ENVIRONMENT='dev'
export SENTRY_RELEASE='sample'

export PROJECT_HOME=$(git rev-parse --show-toplevel)
