export HOST_POST=:8080
export DATASOURCE_USERNAME='jukebox'
export DATASOURCE_PASSWORD='jukebox+'
export DATASOURCE_URL=':username::password@tcp(localhost:3307)/jukebox?charset=utf8&multiStatements=true'
export LOG_LEVEL=WARN
export SENTRY_DSN='http://73f889a91861474ab5ad2860d4b10aad@192.168.0.155:9000/1'
export SENTRY_ENVIRONMENT=dev
export SENTRY_RELEASE=sample

export PROJECT_HOME=$(git rev-parse --show-toplevel)
